#Content {
    display: flex;
    align-items: flex-start;
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    .calculate-box {
        margin: 2rem;
        margin: calc($header-height + 2rem) 2rem 2rem 2rem;
        max-width: 400px;
        border: 1px solid $text-color;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        .input {
            display: grid;
            grid-template-columns: minmax(0, 50%) minmax(0, 50%);
            row-gap: 1rem;
            column-gap: 2rem;
            button.calculate,
            .span-2 {
                grid-column: span 2;
            }
            input {
                width: 100%;
            }
        }
    }
    #Visual {
        $margin: 40px;
        height: calc(100vh - $header-height - 2 * $margin);
        height: calc(100dvh - $header-height - 2 * $margin);
        position: sticky;
        top: calc($header-height + $margin);
        width: 100%;
        .container {
            height: 100%;
            position: relative;
            overflow: hidden;
            .orbit {
                position: absolute;
                border: 3px solid $text-color;
                border-style: dashed;
                border-radius: 100%;
                top: 50%;
                left: 50%;
                z-index: 2;
                &.transfer {
                    z-index: 1;
                    // Bottom half of image
                    // clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
                    // Top half of image
                    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
                }
                &.mass {
                    border: none;
                    background: rgba(255, 255, 255, 0.3);
                }
                &.earth {
                    background: url(../images/world.png);
                    background-position: center;
                    background-size: cover;
                }
            }
            .legend {
                position: absolute;
                top: 0;
                right: $margin;
                .orbit-legend {
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    font-size: $font-size-smallish;
                    // font-size: $font-size-largish;
                }
            }
            .color0 {
                $color: rgb(71, 175, 71);
                color: $color;
                border-color: $color;
            }
            .color1 {
                $color: rgb(240, 240, 118);
                color: $color;
                border-color: $color;
            }
            .color2 {
                $color: rgb(255, 79, 79);
                color: $color;
                border-color: $color;
            }
        }
    }
}
