$header-height: 30px;
#Nav {
    position: fixed;
    top: 0;
    background-color: $header-color;
    height: $header-height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
